In [108]:
import pandas as pd
import numpy as np

In [109]:
df = pd.read_csv('merged_data.csv', low_memory=False)

In [110]:
df.tail()

,client_id,birth_number,district_id,disp_id,account_id,type_x,A2,A3,A4,A5,...,k_symbol_x,trans_id,date,type,operation,amount,balance,k_symbol_y,bank,account
86661,13968,680413,61,13660,11359,OWNER,Trebic,south Moravia,117897,139,...,,3423093,981211,VYDAJ,PREVOD NA UCET,254.0,38296.8,,AB,90330576.0
86662,13968,680413,61,13660,11359,OWNER,Trebic,south Moravia,117897,139,...,,3423128,981211,VYDAJ,VYBER KARTOU,1800.0,38550.8,NaN,NaN,0.0
86663,13968,680413,61,13660,11359,OWNER,Trebic,south Moravia,117897,139,...,,3422913,981214,PRIJEM,PREVOD Z UCTU,40521.0,78817.8,NaN,MN,87391823.0
86664,13968,680413,61,13660,11359,OWNER,Trebic,south Moravia,117897,139,...,,3422973,981221,VYDAJ,VYBER,3900.0,74917.8,NaN,NaN,0.0
86665,13968,680413,61,13660,11359,OWNER,Trebic,south Moravia,117897,139,...,,3529998,981231,PRIJEM,NaN,282.6,75200.4,UROK,NaN,NaN

In [113]:
df.drop_duplicates(subset='balance', inplace=True)
df.reset_index(drop=True, inplace=True)
df

,client_id,birth_number,district_id,disp_id,account_id,type_x,A2,A3,A4,A5,...,k_symbol_x,trans_id,date,type,operation,amount,balance,k_symbol_y,bank,account
0,116,420128,74,116,97,OWNER,Ostrava - mesto,north Moravia,323870,0,...,SIPO,29886,960505,PRIJEM,VKLAD,900.0,900.0,NaN,NaN,NaN
1,116,420128,74,116,97,OWNER,Ostrava - mesto,north Moravia,323870,0,...,SIPO,29891,960514,PRIJEM,VKLAD,17928.0,18828.0,NaN,NaN,NaN
2,116,420128,74,116,97,OWNER,Ostrava - mesto,north Moravia,323870,0,...,SIPO,3533692,960531,PRIJEM,NaN,45.6,18873.5,UROK,NaN,NaN
3,116,420128,74,116,97,OWNER,Ostrava - mesto,north Moravia,323870,0,...,SIPO,30161,960604,PRIJEM,VKLAD,4500.0,23373.5,NaN,NaN,NaN
4,116,420128,74,116,97,OWNER,Ostrava - mesto,north Moravia,323870,0,...,SIPO,29892,960614,PRIJEM,VKLAD,26892.0,50265.6,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38466,13968,680413,61,13660,11359,OWNER,Trebic,south Moravia,117897,139,...,UVER,3423093,981211,VYDAJ,PREVOD NA UCET,254.0,38296.8,,AB,90330576.0
38467,13968,680413,61,13660,11359,OWNER,Trebic,south Moravia,117897,139,...,UVER,3423128,981211,VYDAJ,VYBER KARTOU,1800.0,38550.8,NaN,NaN,0.0
38468,13968,680413,61,13660,11359,OWNER,Trebic,south Moravia,117897,139,...,UVER,3422913,981214,PRIJEM,PREVOD Z UCTU,40521.0,78817.8,NaN,MN,87391823.0
38469,13968,680413,61,13660,11359,OWNER,Trebic,south Moravia,117897,139,...,UVER,3422973,981221,VYDAJ,VYBER,3900.0,74917.8,NaN,NaN,0.0
38470,13968,680413,61,13660,11359,OWNER,Trebic,south Moravia,117897,139,...,UVER,3529998,981231,PRIJEM,NaN,282.6,75200.4,UROK,NaN,NaN

In [114]:
df.replace(['', ' '], np.nan, inplace=True)  # Replace empty strings and spaces with NaN
df.dropna(inplace=True)  # Drop rows with NaN values

df.reset_index(drop=True, inplace=True)
filtered_df = df
filtered_df

,client_id,birth_number,district_id,disp_id,account_id,type_x,A2,A3,A4,A5,...,k_symbol_x,trans_id,date,type,operation,amount,balance,k_symbol_y,bank,account
0,116,420128,74,116,97,OWNER,Ostrava - mesto,north Moravia,323870,0,...,SIPO,30004,961005,VYDAJ,PREVOD NA UCET,3.0,39677.8,POJISTNE,ST,83123987.0
1,116,420128,74,116,97,OWNER,Ostrava - mesto,north Moravia,323870,0,...,SIPO,29932,961010,VYDAJ,PREVOD NA UCET,1436.0,38226.8,SIPO,ST,69820374.0
2,116,420128,74,116,97,OWNER,Ostrava - mesto,north Moravia,323870,0,...,SIPO,30005,961105,VYDAJ,PREVOD NA UCET,3.0,35321.4,POJISTNE,ST,83123987.0
3,116,420128,74,116,97,OWNER,Ostrava - mesto,north Moravia,323870,0,...,SIPO,29933,961110,VYDAJ,PREVOD NA UCET,1436.0,33870.4,SIPO,ST,69820374.0
4,116,420128,74,116,97,OWNER,Ostrava - mesto,north Moravia,323870,0,...,SIPO,30006,961205,VYDAJ,PREVOD NA UCET,3.0,28453.9,POJISTNE,ST,83123987.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6142,13968,680413,61,13660,11359,OWNER,Trebic,south Moravia,117897,139,...,UVER,3423029,980806,VYDAJ,PREVOD NA UCET,4518.0,63289.8,SIPO,OP,33080721.0
6143,13968,680413,61,13660,11359,OWNER,Trebic,south Moravia,117897,139,...,UVER,3423030,980906,VYDAJ,PREVOD NA UCET,4518.0,62691.2,SIPO,OP,33080721.0
6144,13968,680413,61,13660,11359,OWNER,Trebic,south Moravia,117897,139,...,UVER,3423031,981006,VYDAJ,PREVOD NA UCET,4518.0,59182.5,SIPO,OP,33080721.0
6145,13968,680413,61,13660,11359,OWNER,Trebic,south Moravia,117897,139,...,UVER,3423032,981106,VYDAJ,PREVOD NA UCET,4518.0,60577.6,SIPO,OP,33080721.0
6146,13968,680413,61,13660,11359,OWNER,Trebic,south Moravia,117897,139,...,UVER,3423033,981206,VYDAJ,PREVOD NA UCET,4518.0,59250.8,SIPO,OP,33080721.0

In [115]:
filtered_df.to_csv('filtered_data.csv', index=False)